In [1]:
# Imports
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [111]:
# Create the output file 
dataDir = '/Users/student/PycharmProjects/data'

subjects = os.listdir(dataDir + '/raw/')
subjects = sorted(subjects)[::]

# List of task configs
TaskConfigs = ['A1_forw','A1_backw',
               'B1_forw','B1_backw',
               'C1_forw','C1_backw',
               'D1_forw','D1_backw',
               'E1_forw','E1_backw',
               'A2_forw','A2_backw',
               'B2_forw','B2_backw',
               'C2_forw','C2_backw',
               'D2_forw','D2_backw',
               'E2_forw','E2_backw']
# Create list of the configs tested
data = {
'TaskConfigs' : TaskConfigs * 5,
'Repeat' : [i for i in range(0, 5) for _ in range(20)]
}

executionPeriods = pd.DataFrame(data)

for subject in subjects:
    executionPeriods[subject + '_start' ] = np.nan
    executionPeriods[subject + '_end'   ] = np.nan

executionPeriods

,TaskConfigs,Repeat,sub-01_start,sub-01_end,sub-02_start,sub-02_end,sub-03_start,sub-03_end,sub-04_start,sub-04_end,...,sub-31_start,sub-31_end,sub-32_start,sub-32_end,sub-33_start,sub-33_end,sub-34_start,sub-34_end,sub-35_start,sub-35_end
0,A1_forw,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A1_backw,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,B1_forw,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,B1_backw,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,C1_forw,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,C2_backw,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,D2_forw,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,D2_backw,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,E2_forw,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,E2_backw,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
# set hyperparameters for analysis
subject = 'sub-02'
task_half = 1
repeat = 4
Counter = 0
subjects = [
    # 'sub-01',
    'sub-02', 
    'sub-03', 'sub-04', 'sub-05', 'sub-06', 'sub-07', 'sub-08', 'sub-09', 
    # 'sub-10', 
    'sub-11', 'sub-12', 'sub-13', 'sub-14', 'sub-15', 'sub-16', 'sub-17', 'sub-18', 'sub-19', 'sub-20', 
    # 'sub-21',
    'sub-22', 'sub-23', 'sub-24', 'sub-25', 'sub-26', 'sub-27', 'sub-28',
    'sub-29', 'sub-30', 'sub-31', 'sub-32', 'sub-33', 'sub-34', 'sub-35'
          ]

for subject in subjects:

    for task_half in [1, 2]:

        for repeat in range(5):
            
            end_time = 0
            start_time = 0
            # Load in the correct behaviour file for each subject and task half
            behaviourFile = pd.read_csv(dataDir + '/raw/' + subject + '/beh/' + f"{subject}_fmri_pt{task_half}.csv")
            # Forward fill the 'task_config' column
            behaviourFile['task_config'] = behaviourFile['task_config'].ffill()
            # Add a "5" to the end final value of the 'rep_runs.thisN' column
            # final index of the 'rep_runs.thisN' column 
            final_index = behaviourFile['rep_runs.thisN'].last_valid_index()
            # Add a 5 to the final value of the 'rep_runs.thisN' column
            behaviourFile.at[final_index, 'rep_runs.thisN'] = 5
            # Get the list of task configs that were tested in this behaviour file
            # List of task configs, list of directions (everything is repeeated 5 times)
            taskConfigs = behaviourFile['TaskConfigs'] = behaviourFile['task_config'] + '_' + behaviourFile['type']
            taskConfigs = behaviourFile['TaskConfigs'].unique()
            taskConfigs = taskConfigs[~pd.isnull(taskConfigs)]

            # For each of theses configs, get the start and end time of the execution period
            for taskConfig in list(taskConfigs):
                # print(subject, task_half, repeat, taskConfig)
                task, direction = taskConfig.split('_')
                # get the rows of the behaviour file that correspond to this task and direction
                task_behaviour = behaviourFile[(behaviourFile['task_config'] == task) & (behaviourFile['type'] == direction)]

                # start time is the time of the first ABCD screen
                start_time = task_behaviour['start_ABCD_screen'].dropna().iloc[repeat]

                # print(start_time)

                # end time is the 
                if repeat == 4:
                    # If it is the final repeat

                    finalRepeatRow = behaviourFile[(behaviourFile['task_config'] == task) & (behaviourFile['type'] == direction) & (behaviourFile['rep_runs.thisN'] == 5)]

                    # print(finalRepeatRow)
                    end_time = finalRepeatRow['t_step_end_global'].iloc[0]
                    pass
                else:
                #     # If it is not the final repeat
                    end_time = task_behaviour['start_ABCD_screen'].dropna().iloc[repeat + 1]
                    pass
                # print(end_time)


                # Fill in the executionPeriods dataframe
                # Fill in the correct values in the executionPeriods dataframe
                # Get the correct executionPeriods df index
                index = executionPeriods[(executionPeriods['TaskConfigs'] == taskConfig) & (executionPeriods['Repeat'] == repeat)].index[0]

                # Fill in the correct values
                executionPeriods.at[index, subject + '_start']  = start_time
                executionPeriods.at[index, subject + '_end']    = end_time
        # break
    # break
    # Save the executionPeriods dataframe to a csv file

executionPeriods

,TaskConfigs,Repeat,sub-01_start,sub-01_end,sub-02_start,sub-02_end,sub-03_start,sub-03_end,sub-04_start,sub-04_end,...,sub-31_start,sub-31_end,sub-32_start,sub-32_end,sub-33_start,sub-33_end,sub-34_start,sub-34_end,sub-35_start,sub-35_end
0,A1_forw,0,NaN,NaN,1419.135426,1443.860446,1352.744528,1373.033785,683.758982,703.662297,...,802.864800,837.019536,770.147640,798.767995,1226.246341,1251.932167,1653.770664,1683.574194,1190.560024,1229.168560
1,A1_backw,0,NaN,NaN,965.864790,1000.192647,73.505212,97.519862,187.857300,220.370459,...,954.714682,988.359446,1086.992082,1112.200248,572.011047,599.034666,1140.041949,1171.086904,371.263808,399.083553
2,B1_forw,0,NaN,NaN,1119.795621,1154.163113,849.013000,881.995843,825.299731,855.217214,...,1594.724406,1621.653649,1236.904813,1270.056757,45.751387,86.935409,1475.063728,1514.970232,1510.669845,1544.009519
3,B1_backw,0,NaN,NaN,484.309799,520.161907,1491.464480,1517.305786,1134.530774,1159.310798,...,1268.051444,1296.428282,220.926317,263.640059,1541.359351,1571.903983,397.450750,443.296014,1023.015611,1048.233772
4,C1_forw,0,NaN,NaN,340.341433,367.223678,1015.042485,1046.130856,983.031146,1008.744931,...,637.685918,673.999140,1420.716194,1456.249385,1066.316731,1100.718455,958.401018,997.058094,83.744485,107.442436
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,C2_backw,4,NaN,NaN,1003.761884,1028.309777,1631.853194,1656.070950,211.916284,252.495114,...,1009.809899,1039.787788,640.877747,661.470263,833.420339,857.504306,665.553463,695.239545,1143.232287,1167.250881
96,D2_forw,4,NaN,NaN,1435.644581,1463.565469,780.982588,803.135327,1106.526824,1127.473754,...,1699.881443,1727.861462,162.767400,186.095456,246.767823,275.344984,1316.291152,1338.560723,330.269159,351.819439
97,D2_backw,4,NaN,NaN,426.182985,449.135733,1284.544607,1305.936012,1249.532190,1271.992552,...,367.631558,394.117175,1131.210192,1156.289576,992.816701,1021.998903,1157.711152,1188.293564,804.977953,829.479317
98,E2_forw,4,NaN,NaN,581.296579,602.918029,322.167613,342.022546,1695.141778,1717.911712,...,188.049201,211.743871,983.206736,1009.889692,1882.069713,1907.424845,171.933539,200.834219,491.007063,517.466045
99,E2_backw,4,NaN,NaN,711.261516,728.741860,626.662624,647.420099,577.349971,601.614406,...,852.296122,875.840654,475.223415,497.442611,1168.500213,1197.075834,328.444490,355.833119,1498.560153,1521.450438

In [114]:
# save the execution periods to a csv file
executionPeriods.to_csv(dataDir + '/executionPeriods.csv', index = False)

In [119]:
# Convert to TRs
TR_LENGTH = 1.078 # seconds / TR
# Remove the offset 
for column in executionPeriods.columns:
    if 'start' in column or 'end' in column:
        # Convert to TRs from seconds
        executionPeriods[column] = executionPeriods[column] / TR_LENGTH
        # Round to the nearest TR
        executionPeriods[column] = executionPeriods[column].round()
        # Add the offset to the start time 
executionPeriods

,TaskConfigs,Repeat,sub-01_start,sub-01_end,sub-02_start,sub-02_end,sub-03_start,sub-03_end,sub-04_start,sub-04_end,...,sub-31_start,sub-31_end,sub-32_start,sub-32_end,sub-33_start,sub-33_end,sub-34_start,sub-34_end,sub-35_start,sub-35_end
0,A1_forw,0,NaN,NaN,1316.0,1339.0,1255.0,1274.0,634.0,653.0,...,745.0,776.0,714.0,741.0,1138.0,1161.0,1534.0,1562.0,1104.0,1140.0
1,A1_backw,0,NaN,NaN,896.0,928.0,68.0,90.0,174.0,204.0,...,886.0,917.0,1008.0,1032.0,531.0,556.0,1058.0,1086.0,344.0,370.0
2,B1_forw,0,NaN,NaN,1039.0,1071.0,788.0,818.0,766.0,793.0,...,1479.0,1504.0,1147.0,1178.0,42.0,81.0,1368.0,1405.0,1401.0,1432.0
3,B1_backw,0,NaN,NaN,449.0,483.0,1384.0,1408.0,1052.0,1075.0,...,1176.0,1203.0,205.0,245.0,1430.0,1458.0,369.0,411.0,949.0,972.0
4,C1_forw,0,NaN,NaN,316.0,341.0,942.0,970.0,912.0,936.0,...,592.0,625.0,1318.0,1351.0,989.0,1021.0,889.0,925.0,78.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,C2_backw,4,NaN,NaN,931.0,954.0,1514.0,1536.0,197.0,234.0,...,937.0,965.0,595.0,614.0,773.0,795.0,617.0,645.0,1061.0,1083.0
96,D2_forw,4,NaN,NaN,1332.0,1358.0,724.0,745.0,1026.0,1046.0,...,1577.0,1603.0,151.0,173.0,229.0,255.0,1221.0,1242.0,306.0,326.0
97,D2_backw,4,NaN,NaN,395.0,417.0,1192.0,1211.0,1159.0,1180.0,...,341.0,366.0,1049.0,1073.0,921.0,948.0,1074.0,1102.0,747.0,769.0
98,E2_forw,4,NaN,NaN,539.0,559.0,299.0,317.0,1572.0,1594.0,...,174.0,196.0,912.0,937.0,1746.0,1769.0,159.0,186.0,455.0,480.0
99,E2_backw,4,NaN,NaN,660.0,676.0,581.0,601.0,536.0,558.0,...,791.0,812.0,441.0,461.0,1084.0,1110.0,305.0,330.0,1390.0,1411.0

## Convert the data from the whole RAW BOLD video to the specific subsets that match the exection
for each subject
    for each config (A1f, A1b, B1f, ...) (20x) (dir)
        <!-- for each repeat (1-5) (5x)
            file 
        OR   -->
        concat over repeats
        OR 
        oonly first repeat

        EV folder to check the values of the timings
        same as PEs

In [ ]:
# Load in the exection Peroiods dataframe

# Load in the signal file

# Get the correct pair of indicies from the df to define the start and end of the execution period

# Get the correct signal bits of the BOLD file

# 1. get the first execution period
# 2. get the whole executionp period

# save the the correct directory / subdirectory structure